main {
  section#feed {
    .feed-list {
      @include secondary-font;

      .loading {
        content: url(../images/loading.gif);
        height: 100px;
      }

      .feed-error {
        @include primary-font;
        font-weight: bold;
        text-align: center;

        .header {
          font-size: 24px;
        }

        .main {
          margin-top: 10px;
          font-size: 20px;
        }

        .message {
          margin-top: 30px;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
  }
}
